*{ margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-size: 16px;
}

.navbar {
  
  /*overflow: hidden;*/
  height: 90px;
  
  width: 100%;
  background-color: #fff;
  
}

.open-slide {
	position: absolute;
	/*top:40px;
	right: 80px;*/
	right: 70px;

}

.name {  

  margin:0 auto;
  font-family: Righteous;
  font-size: 2.2rem;
}

.name a {
  text-decoration: none;
  color: #000;

}

.name a:hover{
  text-decoration: none;
  color: #E6E6E6;

}

.pos {
  position: absolute;
  left: 70px;

}

.side-nav {
	width: 0;
	height: 100%;
	position: fixed;
	z-index: 1;
	top:0;
	right:0;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 50px;
	transition: 0.5s;
	display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav a{
	text-decoration: none;
	color: #fff;
	display: block;
	transition: 0.3s;
	font-family: Righteous;
}


.category a {
	font-size: 5rem;
	margin: 5px;
	text-align: center;
	
}
.category a:hover{
	text-decoration: underline;

}

.btn-close {
	position: absolute;
	top: 7px;
	right: 73px;
	font-size: 3rem;
	margin-left: 50px;
}

header {
	max-width: 190px;

}

.about {
	max-width: 700px;
}

section {
	max-width: 500px;

}

#font {
	font-family: Teko;
	font-size: 2.5rem;
	letter-spacing: 1px;
}

#copy {
	font-size: 14px;
}

.link a {

	color: black;
	padding: 6px;
}

/*responsive for mobile*/
@media only screen and (max-width: 768px) {
  .category a {
    font-size: 3.5rem;
    
  }
  /*.btn-close {
    position: absolute;
    right: 55px;
  }*/
}

/*responsive for tablet*/
@media only screen and (min-width: 769px)  and (max-width: 1023px) {
  .category a {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1901px) {
  .category a {
    font-size: 7rem;
  }
}